#header.jumbotron {
    background-image: url("../img/header_jumbotron_bg.jpg");
    background-size: cover;
    text-align: center;
    margin: 0;
    height: 450px;
}

#header span.glyphicon.glyphicon-star-empty {
    font-size: 77px;
    margin-top: 65px;
    margin-bottom: 40px;
    color: white;
}

#header p.header-message {
    font-size: 70px;
    font-family: lobster;
    margin-bottom: 60px;
    color: white;
}

#navAffix {
    z-index: 10;
}

.not-rounded-nav {
    border-radius: 0;
}

.affix {
    top: 0;
    width: 100%;
}

#features_section.container {
    padding: 48px;
}

.features-item {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.features-items-header {
    font-size: 30px;
    font-family: lobster;
}

.features-items-body {}

#services_section.jumbotron {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/services_jumbotron_bg.jpg");
    background-size: cover;
    text-align: center;
    margin: 0;
    background-color: black;
}

.services-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
}

.services-header-header {
    font-size: 30px;
    font-family: lobster;
}

.services-header-body {}

.services-body-item {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    padding: 25px;
    margin: 20px;
    text-align: justify;
}

.services-body-item-img {
    width: 100%;
}

.services-body-item-header {
    font-weight: 700;
    margin-bottom: 5px;
}

.services-body-item-body {}

#pricing_section {
    margin-bottom: 85px;
    margin-top: 45px;
}

.pricing-header {
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 45px;
    font-family: lobster;
}

.pricing-body-aboveline {
    height: 5px;
    background-color: black;
}

.pricing-body-item {
    background-color: azure;
    text-align: center;
    font-size: 15px;
}

.pricing-body-item-header {
    font-weight: 700;
    font-size: 25px;
}

.pricing-body-item-content {
    margin-top: 25px;
    margin-bottom: 25px;
}

.pricing-body-item-price {
    margin-top: 15px;
    margin-bottom: 15px;
}

.dollar {
    vertical-align: top;
}

.large-price {
    font-size: 50px;
    font-weight: 700;
}

.pricing-body-item-details div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pricing-body-item-domain-price {
    font-weight: 700;
}

.pricing-body-item-user-accounts {
    font-weight: 700;
}

.shop-button {
    margin: 30px 0;
    padding: 5px 15px;
    color: white;
    background-color: black;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
}

.buy-modal-window {
    border-radius: 0;
}

.buy-modal-header {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0;
}

.buy-modal-input {
    border-radius: 0;
    margin: 10px 0;
}

.buy-modal-button {
    border-radius: 0;
    margin: 0 0 5px;
    width: 100%;
    height: 50px;
    height: 40px;
}

.buy-modal-register {
    text-align: left;
    font-size: 12px;
}

.buy-modal-register a {
    color: black;
}


#slider_section{
    padding: 0;
}

.carousel-caption{
    height: 100%;
}

.horizontal-center{
    display: flex;    
    flex-direction: column;    
}

.vertical-center {   
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-header{
    font-size: 50px;
    margin: 10px 0;
    font-family: 'Quicksand', sans-serif;
}
 
.slide-body{
    font-size: 20px;
    font-weight: 700;
}

.about_us-header {
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 45px;
    font-family: lobster;
}

.about_us-body-item-header-header {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0;
}

.about_us-progress-item-header {
    font-size: 15px;
    font-weight: 700;
}

.about_us-accordion-item-header {
    font-size: 15px;
    font-weight: 700;
    margin: 20px 0;
}

.about_us-accordion-body-item-img {
    width: 100%;
    height: 100%;
}

.about_us-accordion-body-item-header {
    font-weight: 700;
    margin-bottom: 5px;
}

.about_us-accordion-body-item-body {}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 200px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 200px;
    background-color: #f5f5f5;
}

.footer-descriptions {
    background-color: #f5f5f5;
}

.footer-divider {
    background-color: red;
    height: 10px;
}

.footer-references {    
    background-color: #5E5E5E;
}

.footer-descriptions-header {
    font-weight: 700;
}

.footer-descriptions-body {
    font-size: 15px;
}

.footer-row {
    padding: 15px 0 0 20px;
}

li a{
    color: black;
}
